* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.notes-app {
    background: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
    font-family: "Poppins", sans-serif;

    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

input {
    padding: 8px;
    border: 1px solid var(--md-sys-color-secondary);
}

button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background: var(--md-sys-color-tertiary-container);
    color: var(--md-sys-color-on-tertiary-container);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--md-sys-color-on-tertiary-container);
    color: var(--md-sys-color-tertiary-container);
}

button:focus {
    outline: none;
}

a {
    color: var(--md-sys-color-tertiary);
}

header.header-container {
    margin: auto;
    width: 60%;
    padding-inline: 20px;
    padding-block: 16px;
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);

    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-title {
        font-size: xx-large;
        color: var(--md-sys-color-on-primary-container);
        text-decoration: none;
    }

    nav.navigation {
        ul {
            display: flex;
            align-items: center;
            gap: 20px;

            li {
                display: flex;
                align-items: center;
                list-style: none;

                .nav-item {
                    display: flex;
                    text-decoration: none;
                    font-size: 32px;
                    color: var(--md-sys-color-on-background);
                }

                button {
                    background-color: transparent;
                    border: 0;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    padding: 0;
                    margin: 0;
                }

            }
        }

    }
}

main {
    flex: 1;
    width: 100%;
    max-width: 2560px;

    display: flex;
    gap: 20px;
    padding-block: 16px;
    flex-direction: column;
    align-items: center;

    section.auth-form, section.input-note-section {
        width: 60%;
        padding: 20px;
        align-content: center;
        border: 3px solid var(--md-sys-color-secondary);

        form {
            margin-top: 16px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            justify-content: start;

            .input {
                width: 100%;
                display: flex;
                gap: 4px;
                flex-direction: column;
            }

            input {
                background-color: var(--md-sys-color-surface);
                color: var(--md-sys-color-on-surface);
            }

            textarea {
                height: 150px;
                background-color: var(--md-sys-color-surface);
                color: var(--md-sys-color-on-surface);
            }

            button {
                width: 100%;
            }

            p {
                align-self: end;
            }
        }
    }

    section.notes-section {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 60%;
        padding: 20px;
        border: 3px solid var(--md-sys-color-secondary);

        .note-search-form-container {
            input.search-note {
                margin-top: 8px;
                display: flex;
                flex-wrap: wrap;
                justify-content: start;
                gap: 8px;
            }
        }

        .notes-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            .notes {
                width: 100%;

                .note-list {
                    margin-top: 20px;

                    .note-item {
                        display: flex;
                        flex-direction: column;
                        padding: 8px;
                        gap: 8px;
                        border: 1px solid var(--md-sys-color-secondary);
                        box-shadow: 2px 2px 2px 1px var(--md-sys-color-secondary);
                        margin-block: 10px;

                        .action {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 8px;

                            .action-delete {
                                background: var(--md-sys-color-error-container);
                                color: var(--md-sys-color-on-error-container);
                            }

                            .action-delete:hover {
                                background: var(--md-sys-color-on-error-container);
                                color: var(--md-sys-color-error-container);
                            }

                            .action-archive {
                                background: var(--md-sys-color-secondary-container);
                                color: var(--md-sys-color-on-secondary-container);
                            }

                            .action-archive:hover {
                                background: var(--md-sys-color-on-secondary-container);
                                color: var(--md-sys-color-secondary-container);
                            }
                        }
                    }
                }
            }
        }
    }

    .note-detail {
        width: 60%;
        display: flex;
        flex-direction: column;
        border: 3px solid var(--md-sys-color-secondary);
        padding: 16px;
        gap: 10px;

        align-content: center;
        align-items: center;
    }

    .page-not-found {
        width: 60%;
        display: flex;
        flex-direction: column;
        border: 3px solid var(--md-sys-color-error);
        padding: 16px;
        gap: 10px;

        align-content: center;
        align-items: center;

        h1, p {
            color: var(--md-sys-color-error);
        }
    }
}


@media only screen and (max-width: 768px) {
    main {
        padding-inline: 10px;

        section.notes-section {
            .notes-container {
                flex-wrap: wrap;
            }
        }
    }
}